<div class="btn-box">
  <span *ngIf="this.isNew">新增节目</span>
  <span *ngIf="!this.isNew">编辑节目:{{this.programId}}</span>
  <button (click)="back()">返回</button>
</div>
<div class="input-box">
  <span>节目编号：</span>
  <input type="text" [(ngModel)]="program.id" />
</div>
<div class="input-box">
  <span>年会节目名：</span>
  <input type="text" [(ngModel)]="program.name" />
</div>
<div class="input-box">
  <span>表演项目组：</span>
  <input type="text" [(ngModel)]="program.member" />
</div>
<div class="input-box">
  <span>成员人数：</span>
  <input type="text" [(ngModel)]="program.number" />
</div>
<div class="input-box">
  <span>表演时间：</span>
  <input type="text" [(ngModel)]="program.time" />
</div>
<div class="input-box">
  <span>评分：</span>
  <input type="text" [(ngModel)]="program.grade" />
</div>
<button routerLink="/program-main" (click)="save()">提交</button>


