button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 8px;
  opacity: 0.6;
  background: #0066CC;
  margin-right: 5px;
  outline: none;
  
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  td {
    padding: 5px 10px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
  th {
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
}
.good-container {
  width: 500px;
}

.md-mini-fab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}