<!--<p appHighlight>已选择用户:{{selectUser.name}}</p>

<p>已选择用户:{{selectUser.name}}</p>-->
<!--<div class="table-controls">
    <div class="search-area" style="height:60px;">
<input style="float:left;margin-top:14px;" 
  [(ngModel)]="searchText"/>
<button style="float:left;" (click)="search()">搜索</button>

</div>
<button (click)="sortByAsccending()">正序</button>
<button (click)="sortByDesccending()">倒序</button>
<button (click)="sortByRadom()">随机</button>
<button (click)="deleteLast()">删除</button>
<button routerLink="/member/edit/new">新增</button>
<button (click)="testTempUsers()">TEST</button>
</div>-->


<md-toolbar class="shadowbar" color="secondary">
  <span>程序员列表</span>
  <span style="width:10px;"></span>
  <!--<md-icon class="example-icon">favorite</md-icon>-->
  <!--<md-icon class="example-icon">delete</md-icon>-->


  <div class="table-controls">
    <!--<div class="search-area">
      <select [(ngModel)]="searchType">
        <option value="name">姓名</option>
        <option value="年龄">项目</option>
      </select>
      <input [(ngModel)]="searchText" />
      <button (click)="studentServ.search(searchType,searchText)">搜索</button>
    </div>-->
    

    <button routerLink="/member/edit/new">新增</button>
    <!--<button (click)="studentServ.deleteChecked()">批量删除</button>-->
    <button (click)="sortByAsccending()">正序</button>
    <button (click)="sortByDesccending()">倒序</button>
    <button (click)="sortByRadom()">随机</button>
  </div>

</md-toolbar>


<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-1" (click)="sortByAsccending('name')">姓名 </div>
      <div class="col-1" (click)="sortByAsccending('sex')">性别 </div>
      <div class="col-1" (click)="sortByAsccending('skill')">加分点 </div>
      <div class="col-1" (click)="sortByDesccending('age')">年龄 </div>
      <div class="col-2" (click)="sortByDesccending('expect')">期待 </div>
      <div class="col-2" (click)="sortByDesccending('homepage')">个人首页 </div>
      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let user of searchResult">
  <app-member-item [user]="user" (userClick)="selectUser = $event"></app-member-item>
</div>
<div class="row table-row" *ngFor="let user of users">
  <app-member-item [user]="user" (userClick)="selectUser = $event"></app-member-item>
</div>
