input,select {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 10px;
  opacity: 0.6;
  background:pink;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 5px;
  outline: none;
}
button{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 10px;
  opacity: 0.6;
  background:pink;
  margin-left:50px;
  outline: none;
}
