<p>
  <span *ngIf="isNew">新增基金</span>
  <span *ngIf="!isNew">编辑基金:{{this.objectId}}</span>
  <button (click)="back()">返回</button>
</p>

<!-- <div>
基金代码：
<input type="text" [(ngModel)]="fun.objectId"/>
</div> -->

<div>
基金名称：
<input type="text" [(ngModel)]="fun.funname"/>
</div>

<div>
价格：
<input type="text" [(ngModel)]="fun.price"/>
</div>

<div>
涨幅：
<input type="text" [(ngModel)]="fun.raise"/>
</div>
<div>
手数：
<input type="text" [(ngModel)]="fun.zongshou"/>
</div>

<button routerLink="/fun" (click)="save()">提交</button>
