<table>  
 <tbody><tr> 
  <th> </th> 
  <th>细则 </th> 
  <th>总分 </th> 
 </tr>  
 </tbody><tbody> 
  <tr> 
   <td>加分项 </td> 
   <td>按时完成并提交练习 </td> 
   <td>10分 </td> 
  </tr> 
  <tr> 
   <td> </td> 
   <td>项目可正常运行 </td> 
   <td>10分 </td> 
  </tr> 
  <tr> 
   <td> </td> 
   <td>列表页面美观程度 </td> 
   <td>20分 </td> 
  </tr> 
  <tr> 
   <td> </td> 
   <td>原始数据设计合理 </td> 
   <td>20分 </td> 
  </tr> 
  <tr> 
   <td> </td> 
   <td>函数功能正常 </td> 
   <td>20分 </td> 
  </tr> 
  <tr> 
   <td> </td> 
   <td>选题新颖 </td> 
   <td>20分 </td> 
  </tr> 
  <tr> 
   <td>扣分项 </td> 
   <td>作品严重重复 </td> 
   <td>50分 </td> 
  </tr> 
  <tr> 
   <td>总评 </td> 
   <td>60分及格 </td> 
   <td>80分优秀 </td> 
  </tr> 
 </tbody> 
</table>