#linkButton1 {
    display: inline-block;
	position: relative;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px blue, inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px blue, inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px blue, inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;

}

.txt{
 	// border: 1px solid #fff;
        // border-radius: 5px;
        padding: 8px 10px;
        // opacity: 0.6;
        background: papayawhip;
        margin-right: 5px;
        outline: none;
}
