<p>已选择用户:{{selectStudent.name}}</p>
<div class="table-controls">
    <div class="search-area" style="height:60px;">
      <select [(ngModel)]="searchType" style="float:left;">
        <option value="name">姓名</option>
        <option value="project">项目</option>
      </select>
<input style="float:left;" 
  [(ngModel)]="searchText"/>
<button style="float:left;" (click)="studentServ.search(searchType,searchText)">搜索</button>

</div>
<button routerLink="/student/edit/new">新增学员</button>
<button (click)="studentServ.deleteChecked()">批量删除</button>
<button (click)="sortByAsccending()">正序</button>
<button (click)="sortByDesccending()">倒序</button>
<button (click)="sortByRadom()">随机</button>
</div>
<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-2" (click)="sortByAsccending('name')">姓名 </div>
      <div class="col-1" (click)="sortByAsccending('sex')">性别 </div>
      <div class="col-2" (click)="sortByAsccending('project')">project </div>
      <div class="col-1" (click)="sortByDesccending('exam1')">exam1 </div>
      <div class="col-1" (click)="sortByDesccending('exam2')">exam2 </div>
      <div class="col-1" (click)="sortByDesccending('exam3')">exam3 </div>
      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let student of searchResult">
  <app-student-item [student]="student" (studentClick)="selectStudent = $event"></app-student-item>
</div>
<div class="row table-row" *ngFor="let student of students">
  <app-student-item [student]="student" (studentClick)="selectStudent = $event"></app-student-item>
</div>
