<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
<h1><a routerLink="login">登陆</a> Welcome to {{title}}!</h1>
</div>

<div class="row">
<div class="col-3 col-m-3 menu">
<ul>
<li><a routerLink="home">Home</a></li>
<li><a routerLink="about">About</a></li>
<li>组织架构</li>
<li>项目管理</li>
<li>财务管理</li>
<li>客户管理</li>
</ul>
</div>
<div class="col-9 col-m-9 main-container">
<router-outlet></router-outlet>
</div>

<!--<div class="col-3 col-m-12">
<div class="aside">
<h2>Heading 1</h2>
<p>This is an example for responsive layout, especially about Grid-Style.</p>
<h2>Heading 2</h2>
<p>This is an example for responsive layout, especially about Grid-Style.</p>
<h2>Heading 3</h2>
<p>This is an example for responsive layout, especially about Grid-Style.</p>
</div>
</div>-->
</div>
<div class="footer">
<p>Copyright Ryane(Liu Yuyang) 2017</p>
</div>

