<div id="main">
<div *ngIf="selectedBallPlayer"><p><label> 当前队员: </label>{{selectedBallPlayer.name}}</p>
</div>
<div id="condition">
  <select class="drop-down" [(ngModel)]="searchType">
    <option selected>未选择</option>
    <option value="no">号码</option>
    <option value="height">身高</option>
    <option value="weight">体重</option>
  </select>
  <input [(ngModel)]="searchValue">
  <button (click)="search()">搜索</button>
  <button (click)="sortByRadom()">随机排序</button>
  <button (click)="saveNewBallPlayer()">新增一个</button>
</div>
<div id="result">
  <table>
    <thead>
      <tr>
        <th width="60" (click)="sortBallPlayers('no')"><a class="sortable">号码</a></th>
        <th width="150">姓名 </th>
        <th (click)="sortBallPlayers('height')"><a class="sortable">身高(cm)</a></th>
        <th (click)="sortBallPlayers('weight')"><a class="sortable">体重(kg)</a></th>
        <th width="100" >位置 </th>
        <th width="50%" >外号 </th>
        <th style="width:20;border:0" > </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ballplayer of ballplayers"
          [class.selected]="ballplayer === selectedBallPlayer"
          (click)="onSelect(ballplayer)">
        <td>{{ballplayer.no}}</td>
        <td>{{ballplayer.name}}</td>
        <td>{{ballplayer.height}} </td>
        <td>{{ballplayer.weight}}</td>
        <td>{{ballplayer.position}}</td>
        <td>{{ballplayer.alias}}</td>
        <td class="no-border no-background"><button class="delete" (click)="delete(ballplayer)">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
