div#main{
    margin: 40px;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

th{
    border-right: 0;
}

th, td{
    border: solid 0.5px;
    padding: 9px;
    color:#607d8b;;
}

.no-border {
    border: 0;
}

button.delete {
    float: right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color: white;
}

a.sortable {
    color: #607d8b;
    text-decoration: underline;
    cursor: pointer;
}

a.sortable:hover {
    color: blue;
}
