<button (click)="sortList('asc')">正序排列</button>
<button (click)="sortList('desc')">倒序排列</button>
<button (click)="sortList('radom')">随机打乱</button>
<button (click)="deleteLast()">删除最后一个</button>
<button (click)="saveNewUser()">新增一个</button>
<table>
  <thead>
    <tr>
      <th>号码 </th>
      <th>姓名 </th>
      <th>外号 </th>
      <th>身高(cm) </th>
      <th>体重(kg) </th>
      <th>位置 </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.index}}</td>
      <td>{{user.name}}</td>
      <td>{{user.alias}}</td>
      <td>{{user.height}} </td>
      <td>{{user.weight}}</td>
      <td>{{user.position}}</td>
    </tr>
  </tbody>
</table>
