<p>
  <span *ngIf="isNew">新增球员</span>
  <span *ngIf="!isNew">编辑球员:{{this.objectId}}</span>
  <button (click)="back()">返回</button>
</p>

<div>
姓名：
<input type="text" [(ngModel)]="player.name"/>
</div>

<div>
国籍：
<input type="text" [(ngModel)]="player.nationality"/>
</div>

<div>
出场数：
<input type="text" [(ngModel)]="player.match"/>
</div>

<div>
进球数：
<input type="text" [(ngModel)]="player.goal"/>
</div>

<div>
俱乐部：
<input type="text" [(ngModel)]="player.club"/>
</div>

<div>
冠军数：
<input type="text" [(ngModel)]="player.title"/>
</div>

<button routerLink="/player" (click)="save()">提交</button>
