<p>
  <span *ngIf="isNew">新增车位</span>
  <span *ngIf="!isNew">编辑车位:{{parkId}}</span>
  <button (click)="back()">返回</button>
</p>

<div>
ID：
<input type="text" [(ngModel)]="park.index"/>
</div>

<div>
停车场：
<input type="text" [(ngModel)]="park.place"/>
</div>

<div>
距我多远：
<input type="text" [(ngModel)]="park.distant"/>
</div>

<div>
可停时长：
<input type="text" [(ngModel)]="park.time"/>
</div>

<div>
单价/小时：
<input type="text" [(ngModel)]="park.price"/>
</div>

<div>
车主联系方式：
<input type="text" [(ngModel)]="park.telphone"/>
</div>

<button routerLink="/park" (click)="save()">提交</button>
