button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  opacity: 0.6;
  background: #b3e5fc;
  margin-right: 5px;
  outline: none;
}

.tGrid{
  border-collapse: collapse;
  margin-top: 15px;
  td {
    padding: 5px 10px;
    border: 1px solid #2196f3;
    color: #000;
    flex: 1;
    text-align: center;
  }
  th {
    padding: 5px;
    border: 1px solid #2196f3;
    color: white;
    flex: 1;
    text-align: center;
  }
}

.tSearch {
  border-collapse: collapse;
  margin-top: 15px;
  td {
    padding: 5px 10px;
    border: 0px solid #fff;
    color: #000;
    flex: 1;
    text-align: center;
  }
}

.movdiv
{
	width:120px;
	height:30px;
	background:#2196f3;
	position:relative;
	animation:myfirst 5s;
	-webkit-animation:myfirst 5s; /* Safari and Chrome */
  color: white;
}

@keyframes myfirst
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:250px; top:0px;}
	50%  {background:blue; left:200px; top:0px;}
	75%  {background:green; left:350px; top:0px;}
	100% {background:red; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:250px; top:0px;}
	50%  {background:blue; left:200px; top:0px;}
	75%  {background:green; left:350px; top:0px;}
	100% {background:red; left:0px; top:0px;}
}