<!-- <p>已选择角色:{{selectStudent.role}}</p>
<div class="table-controls">
    <div class="search-area" style="height:60px;">
      <select [(ngModel)]="searchType" style="float:left;">
        <option value="role">角色</option>
        <option value="role_en">角色英文名</option>
      </select>
<input style="float:left;" 
  [(ngModel)]="searchText"/>
<button style="float:left;" (click)="werewolvesServ.search(searchType,searchText)">搜索</button>

</div>
<button (click)="sortByAsccending()">正序排列</button>
<button (click)="sortByDesccending()">倒序排列</button>
<button (click)="sortByRadom()">随机打乱</button>
<button (click)="werewolvesServ.deleteChecked()">批量删除</button>
<button routerLink="/werewolves/edit/new">新增角色</button>
</div>
<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-2" (click)="sortByAsccending('role')">角色 </div>
      <div class="col-1" (click)="sortByAsccending('role_en')">角色英文名 </div>
      <div class="col-2" (click)="sortByAsccending('describe')">网页描述 </div>
      <div class="col-1" (click)="sortByDesccending('responsibility')">角色特点 </div>
      <div class="col-1" (click)="sortByDesccending('victory')">胜利条件 </div>
      <div class="col-1" (click)="sortByDesccending('number')">角色数量 </div>
      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let werewolves of searchResult">
  <app-werewolves-item [werewolves]="werewolves" (werewolvesClick)="selectStudent = $event"></app-werewolves-item>
</div>
<div class="row table-row" *ngFor="let werewolf of werewolves">
  <app-werewolves-item [werewolves]="werewolf" (werewolvesClick)="selectStudent = $event"></app-werewolves-item>
</div> -->


<md-toolbar class="shadowbar" color="secondary">
  <span>狼人杀 > 角色列表</span>
  <span style="width:10px;"></span>
  <!--<md-icon class="example-icon">favorite</md-icon>-->
  <!--<md-icon class="example-icon">delete</md-icon>-->


  <div class="table-controls">
    <div class="search-area">
      <select [(ngModel)]="searchType">
        <option value="role">角色</option>
        <option value="role_en">角色英文名</option>
      </select>
      <input [(ngModel)]="searchText" />
      <button (click)="werewolvesServ.search(searchType,searchText)">搜索</button>
    </div>
    
    <button routerLink="/werewolves/edit/new">新增角色</button>
    <button (click)="werewolvesServ.deleteChecked()">批量删除</button>
    <!--<button (click)="sortByAsccending()">正序</button>
    <button (click)="sortByDesccending()">倒序</button>
    <button (click)="sortByRadom()">随机</button>-->
  </div>

</md-toolbar>


<div class="row table-header">
  <div class="col-1">选择 </div>
  <div class="col-2" (click)="sortByAsccending('role')">角色 </div>
  <div class="col-1" (click)="sortByAsccending('role_en')">角色英文 </div>
  <div class="col-2" (click)="sortByAsccending('describe')">网页描述 </div>
  <div class="col-1" (click)="sortByDesccending('responsibility')">角色特点 </div>
  <div class="col-1" (click)="sortByDesccending('victory')">胜利条件 </div>
  <div class="col-1" (click)="sortByDesccending('number')">角色数量 </div>
  <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let werewolves of searchResult">
  <app-werewolves-item [werewolves]="werewolves" (werewolvesClick)="selectStudent = $event"></app-werewolves-item>
</div>
<div class="row table-row" *ngFor="let werewolf of werewolves">
  <app-werewolves-item [werewolves]="werewolf" (werewolvesClick)="selectStudent = $event"></app-werewolves-item>
</div>
