.head-button{
    padding-top: 30px;
}

.head-line{
    margin-left:0;
    width:50%;
    height:10px;
    border:none;
    border-top:10px groove #5CACEE;
}

.button-style{
    border: 1px solid #2576A8
}