.head-button{
    padding-top: 30px;
}

.head-line{
    margin-left:0;
    width:50%;
    height:10px;
    border:none;
    border-top:10px groove #5CACEE;
}

button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #5CACEE;
    border-radius: 6px;
    width:10%;
}

.back-ground{
	background-size:100% 100%;
	background-repeat:no-repeat;
}

div{
    font-size: 14px;
}