<md-toolbar class="shadowbar" color="secondary">
  <span>球员管理 > 球员列表</span>
  <span style="width:10px;"></span>
  <!--<md-icon class="example-icon">favorite</md-icon>-->
  <!--<md-icon class="example-icon">delete</md-icon>-->


  <div class="table-controls">
    <div class="search-area">
      <select [(ngModel)]="searchType">
        <option value="name">姓名</option>
        <option value="nationality">国籍</option>
      </select>
      <input [(ngModel)]="searchText" />
      <button (click)="playerServ.search(searchType,searchText)">搜索</button>
    </div>
    
   <button routerLink="/player/edit/new">新增球员</button>
   <button (click)="playerServ.deleteChecked()">批量删除</button>
   <button (click)="sortByAsccending()">正序</button>
   <button (click)="sortByDesccending()">倒序</button>
   <button (click)="sortByRadom()">随机</button>

  </div>

</md-toolbar>

<div class="row table-header">
      <div class="col-1">选择 </div>
      <div class="col-2" (click)="sortByAsccending('name')">姓名 </div>
      <div class="col-1" (click)="sortByAsccending('nationality')">国籍 </div>
      <div class="col-2" (click)="sortByAsccending('match')">出场数 </div>
      <div class="col-1" (click)="sortByDesccending('goal')">进球数 </div>
      <div class="col-1" (click)="sortByDesccending('club')">俱乐部 </div>
      <div class="col-1" (click)="sortByDesccending('title')">冠军数 </div>
      <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let player of searchResult">
  <app-player-item [player]="player" (playerClick)="selectPlayer = $event"></app-player-item>
</div>
<div class="row table-row" *ngFor="let player of players">
  <app-player-item [player]="player" (playerClick)="selectPlayer = $event"></app-player-item>
</div>
