      <div class="col-1" *ngIf="isChecked()" (click)="check()">[x]</div>
      <div class="col-1" *ngIf="!isChecked()" (click)="check()">[&nbsp;&nbsp;]</div>
      <div class="col-2">{{movie.name | uppercase | lowercase}}</div>
      <div class="col-1">{{movie.category | movieCategorName}}</div>
      <div class="col-1">{{movie.adirnew}}</div>
      <div class="col-1">{{movie.performer}}</div>
      <div class="col-1">{{movie.country}}</div>
      <div class="col-1">{{movie.year}}</div>
      <div class="col-2"><a routerLink="/movie/edit/{{movie.objectId}}">编辑</a> <span appHighlight (click)="movieServ.delete(movie)">删除</span></div>
