 <div class="row table-header">
      <div class="col-1" *ngIf="isChecked()" (click)="check()">[x]</div>
      <div class="col-1" *ngIf="!isChecked()" (click)="check()">[&nbsp;&nbsp;]</div>
      <div class="col-1" (click)="onFunClick()">{{fun.objectId}}</div>
      <div class="col-1">{{fun.funname}}</div>
      <div class="col-1">{{fun.price}}</div>
      <div class="col-1">{{fun.raise}}</div>
      <div class="col-1">{{fun.zongshou}}</div>
      <div class="col-1"><a routerLink="/fun/edit/{{fun.objectId}}">编辑</a>
      <span appHighlight (click)="funServ.delete(fun)">删除</span></div>
 </div> 