button,input,select {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  opacity: 0.6;
  background: #87CEEB;
  margin-right: 10px;
  outline: #191970 dotted thin;
}

// Components
.shadowbar{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
    margin-bottom:10px;
}
.float-left{
    float:left;
}

table {
  border-collapse: collapse;
  margin-top: 15px;
  td {
    padding: 5px 10px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
  th {
    padding: 5px;
    border: 1px solid #000;
    color: #000;
    flex: 1;
    text-align: center;
  }
}

