button,input,select {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  opacity: 0.6;
  background: #8bc34a;
  margin-right: 5px;
  outline: none;
}

.row {
   float: left;
   width: 100%;
    // border-top: 1px solid #000;
  
}

.c1 {
     float: left;
    width: 80px;
}
.c2 {
     float: left;
    width: 100px;
}

.title {
    width: 180px;
    text-align: center;
   // color:#FFF!important;
    font-weight:bold;
    font: 120px;
}