/* You can add global styles to this file, and also import other style files */

// Global Style
html,body{
            height:100%;
            width:100%;
}
body{
            background-image: url(./assets/bg.svg);
}
a{
    color:#000;
    text-decoration:none;    
}
a:visited{
    color:#000;
}
li{
    list-style-type:none;
}
.header {
    background-color: #00bcd4;
    height:70px;
    color: #ffffff;
    padding: 5px;
}
.main-container{
    height:340px;
    overflow-y: scroll;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    // background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
