th,td{
    color:#003e3e;
    text-align: left;
    border: 1px solid #000000;
}

p{
    color:#003e3e;
    font-weight:bold;
    font-size: 30px;
    text-align: center;    
}

tbody{
    align-content:center;
}
